<mat-card>
  <mat-card-header>
      <mat-card-title>Payment Data</mat-card-title>
      </mat-card-header>
    <mat-card-content>
      <form [formGroup]="paymentForm">
        <div >
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Credit Card Number</mat-label>
            <input matInput formControlName="cardNumber">
            <mat-error *ngIf="paymentForm.get('cardNumber')?.invalid &&
             (paymentForm.get('cardNumber')?.dirty || paymentForm.get('cardNumber')?.touched)">
              Please enter a valid credit card number.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Expiration Date</mat-label>
            <input matInput formControlName="expirationDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="paymentForm.get('expirationDate')?.invalid &&
             (paymentForm.get('expirationDate')?.dirty || paymentForm.get('expirationDate')?.touched)">
              Expiration Date is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Security Code</mat-label>
            <input matInput formControlName="securityCode">
            <mat-error *ngIf="
            paymentForm.get('securityCode')?.invalid &&
            (paymentForm.get('securityCode')?.dirty || paymentForm.get('securityCode')?.touched)">
              Please enter a valid security code.
            </mat-error>
          </mat-form-field>
          <div class="button-container" >
              <button mat-raised-button  color="accent" type="button" (click)="back()">Back</button>
              <button mat-raised-button color="primary" type="button" class="ml-1"
               (click)="next()" [disabled]="!paymentForm.valid">Next</button>
            </div>
        </div>
      </form>
    </mat-card-content>

  </mat-card>
